In [10]:
import pandas as pd
import sqlite3

con = sqlite3.connect("basketball_teams.sqlite")

games = pd.read_sql_query('SELECT * FROM game WHERE GAME_DATE >= 2000-01-01', con)

cleaner_games = games[['GAME_ID', 'GAME_DATE', 'TEAM_NAME_HOME', 'TEAM_NAME_AWAY', 'PTS_HOME', 'PTS_AWAY']]
print(cleaner_games)

          GAME_ID   GAME_DATE          TEAM_NAME_HOME          TEAM_NAME_AWAY  \
0      0029700424  1998-01-01     Vancouver Grizzlies      Philadelphia 76ers
1      0029700426  1998-01-02         New Jersey Nets         New York Knicks
2      0029700432  1998-01-02       San Antonio Spurs  Portland Trail Blazers
3      0029700433  1998-01-02          Denver Nuggets         Houston Rockets
4      0029700435  1998-01-02      Los Angeles Lakers           Atlanta Hawks
...           ...         ...                     ...                     ...
27848  0022001076  2021-05-16  Portland Trail Blazers          Denver Nuggets
27849  0022001071  2021-05-16  Minnesota Timberwolves        Dallas Mavericks
27850  0022001068  2021-05-16           Chicago Bulls         Milwaukee Bucks
27851  0022001072  2021-05-16    New Orleans Pelicans      Los Angeles Lakers
27852  0022001077  2021-05-16        Sacramento Kings               Utah Jazz

       PTS_HOME  PTS_AWAY
0           104       115
1           103        98
2            85        69
3           115       116
4           116       106
...         ...       ...
27848       132       116
27849       136       121
27850       118       112
27851        98       110
27852        99       121

[27853 rows x 6 columns]

In [4]:
from basketball_reference_web_scraper import client

for index, row in cleaner_games.iterrows():
    year = int(row['GAME_DATE'][0:4])
    month = int(row["GAME_DATE"][5:7])
    day = int(row['GAME_DATE'][8:])
    home_team = row["TEAM_NAME_HOME"]
    away_team = row["TEAM_NAME_AWAY"]
    print(year, month, day)
    stats = (pd.json_normalize(client.player_box_scores(day=day, month=month, year=year)))

ModuleNotFoundError: No module named 'basketball_reference_web_scraper'

In [13]:
import pandas as pd
from basketball_reference_web_scraper import client

(pd.json_normalize(client.player_box_scores(day=1, month=11, year=1991)))

,slug,name,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score
0,malonka01,Karl Malone,Team.UTAH_JAZZ,Location.AWAY,Team.MINNESOTA_TIMBERWOLVES,Outcome.WIN,2400,14,19,0,...,7,12,4,9,3,3,1,5,3,30.4
1,ewingpa01,Patrick Ewing,Team.NEW_YORK_KNICKS,Location.AWAY,Team.ORLANDO_MAGIC,Outcome.LOSS,2280,12,15,0,...,6,8,1,5,1,1,6,1,3,29.4
2,greenac01,A.C. Green,Team.LOS_ANGELES_LAKERS,Location.AWAY,Team.HOUSTON_ROCKETS,Outcome.LOSS,2760,10,17,0,...,8,13,10,6,2,1,0,2,2,26.5
3,adamsmi01,Michael Adams,None,Location.AWAY,Team.INDIANA_PACERS,Outcome.WIN,2520,9,22,1,...,4,5,1,3,13,9,1,4,2,26.4
4,drexlcl01,Clyde Drexler,Team.PORTLAND_TRAIL_BLAZERS,Location.HOME,Team.CLEVELAND_CAVALIERS,Outcome.WIN,2220,14,20,1,...,2,2,1,6,7,0,0,2,5,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,teaglte01,Terry Teagle,Team.LOS_ANGELES_LAKERS,Location.AWAY,Team.HOUSTON_ROCKETS,Outcome.LOSS,720,2,8,0,...,0,0,1,0,0,0,0,1,1,-1.5
240,anthogr01,Greg Anthony,Team.NEW_YORK_KNICKS,Location.AWAY,Team.ORLANDO_MAGIC,Outcome.LOSS,1680,3,9,1,...,0,0,1,0,2,1,0,5,4,-1.6
241,tisdawa01,Wayman Tisdale,Team.SACRAMENTO_KINGS,Location.HOME,Team.LOS_ANGELES_CLIPPERS,Outcome.WIN,1020,1,7,0,...,0,0,1,5,1,0,0,2,2,-2.4
242,lesji01,Jim Les,Team.SACRAMENTO_KINGS,Location.HOME,Team.LOS_ANGELES_CLIPPERS,Outcome.WIN,360,0,2,0,...,0,0,0,0,0,0,0,2,1,-3.8
243,cebalce01,Cedric Ceballos,Team.PHOENIX_SUNS,Location.AWAY,Team.SEATTLE_SUPERSONICS,Outcome.WIN,1740,1,9,0,...,0,0,1,1,1,2,0,3,3,-4.4

In [ ]:
for row in