In [8]:
import pandas as pd
import sqlite3

con = sqlite3.connect("basketball.sqlite")

df = pd.read_sql_query('SELECT * FROM Player', con)
print(df)

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4496  1627790           Ante Zizic       Ante         Zizic          1
4497    78647             Jim Zoet        Jim          Zoet          0
4498    78648            Bill Zopf       Bill          Zopf          0
4499  1627826          Ivica Zubac      Ivica         Zubac          1
4500    78650           Matt Zunic       Matt         Zunic          0

[4501 rows x 5 columns]

In [4]:
df = pd.read_csv('ASA All NBA Raw Data.csv')
print(df)

             game_id   game_date  OT H_A Team_Abbrev  Team_Score  Team_pace  \
0       202204100BRK  2022-04-10   0   A         IND         126      103.9
1       202204100BRK  2022-04-10   0   A         IND         126      103.9
2       202204100BRK  2022-04-10   0   A         IND         126      103.9
3       202204100BRK  2022-04-10   0   A         IND         126      103.9
4       202204100BRK  2022-04-10   0   A         IND         126      103.9
...              ...         ...  ..  ..         ...         ...        ...
121102  202003070GSW  2020-03-07   0   H         GSW         118       90.9
121103  202003070GSW  2020-03-07   0   H         GSW         118       90.9
121104  202003070GSW  2020-03-07   0   H         GSW         118       90.9
121105  202003070GSW  2020-03-07   0   H         GSW         118       90.9
121106  202003070GSW  2020-03-07   0   H         GSW         118       90.9

        Team_efg_pct  Team_tov_pct  Team_orb_pct  ...  pf_per_minute     ts  \
0              0.543           5.9          20.8  ...       0.000000  14.44
1              0.543           5.9          20.8  ...       0.083604  23.00
2              0.543           5.9          20.8  ...       0.139730  21.76
3              0.543           5.9          20.8  ...       0.156169   4.88
4              0.543           5.9          20.8  ...       0.097192  15.88
...              ...           ...           ...  ...            ...    ...
121102         0.606           7.0          18.9  ...       0.107914  13.08
121103         0.606           7.0          18.9  ...       0.036079   6.00
121104         0.606           7.0          18.9  ...       0.150943   4.00
121105         0.606           7.0          18.9  ...       0.094340  12.64
121106         0.606           7.0          18.9  ...       0.000000   2.76

       last_60_minutes_per_game_starting last_60_minutes_per_game_bench  \
0                              36.176282                      19.535428
1                              35.833974                      19.350580
2                              30.988194                      16.733827
3                              22.514103                      14.625000
4                              25.350000                      15.166667
...                                  ...                            ...
121102                         33.110667                      19.232562
121103                         25.470833                      20.228571
121104                         24.083333                      13.228788
121105                         34.783333                      27.691667
121106                         10.415645                       6.050000

          PG%   SG%   SF%   PF%    C%  active_position_minutes
0        62.0  35.0   4.0   0.0   0.0                64.741860
1         4.0  53.0  43.0   1.0   0.0                56.265965
2         0.0   0.0  20.0  75.0   5.0                44.631041
3         0.0   0.0   0.0  24.0  76.0                53.345389
4       100.0   0.0   0.0   0.0   0.0                68.220319
...       ...   ...   ...   ...   ...                      ...
121102    0.0   2.0  77.0  21.0   0.0                57.207786
121103    5.0  45.0  43.0   7.0   0.0                58.202391
121104    0.0   0.0   0.0   9.0  91.0                49.630640
121105    0.0  44.0  48.0   8.0   0.0                58.923515
121106   81.0  19.0   0.0   0.0   0.0                45.958787

[121107 rows x 81 columns]

C:\Users\rhoan\AppData\Local\Temp\ipykernel_14480\3332296696.py:1: DtypeWarning: Columns (68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ASA All NBA Raw Data.csv')